*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("img/fundo.jpg");

}

.navbar-toggler {
    position: absolute;
    right: 10px;
    width: 75px;
    padding: 10px;
  }


  .texto h1{
    color: #376C11;
    padding-left: 20%;
    padding-top: 1%;
    font-size: 45px;
    font-size: 70px;
  }

  .texto img{
    padding-left: 20%;
  }

  .texto video{
    margin-top: 5%;
   }

